
#riquadro{
    width: 1050px;
}

.sfondo-pattern{
    background-image: url(/img/pattern.png);
    background-color: rgb(78, 160, 255);
    height: 120px;
       
}

.sfondo-pattern img{
    width:200px;
    height: 100px; 
}

.colore-testo{
   color:blue;  
}

main h1{
    font-size:35px;
    margin-top: 25px;
    margin-bottom: 0px;
    font-style:bold;
}

.margin{
    margin-top: 0px; 

}
#grigio, h3{
    color: gray;
}
.evidenziato{
    background-color: yellow;
}

#logo{
    margin-top: 25px;
    margin-left: 5px;
    padding: 5px;

}

table td,
table th{
    padding: 12;
    text-align: left;
}

table thead{
    background-color:rgb(32, 169, 229);
    color: white;
}

.celeste{
    background-color: rgb(177, 229, 242);
}

table td{
    width: 20%;
}

#foto-text{
    background-image: url(/img/monitor.jpg);
    width: 300px;
    height: 200px; 
    color: white;
    font-size: 35px;
}

#foto-text1{
    background-image: url(/img/graph.jpg);
    width: 300px;
    height: 200px;
    color: white; 
    font-size: 35px;
} 
